body {
  max-width:1200px;
  margin-top: 20px;
  margin-left:10%;
  margin-right:10%;
  font-size:14pt;
}

.main-content{
  width: 96%;
}

.answer-form-part2{
  width: 90%;
  border: solid 1px;
  background-color: #eee;
  line-height: 1.4em;
  font-family: monospace;
  font-size: 0.9em;
  padding: 2% 2% 2% 4%;
}
.btn.btn-xs{
  font-size: 19px
}

.rzslider{
  width:80%;
}

.taskA-answer {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
}

.ace_editor  {
  height : 300px;
}

#task(B){
  margin-top: -60px;
}

#col1 {
    display: inline-block;
    width:47%;
    float: left;
}

#col2 {
    display: inline-block;
    width:47%;
    float: right;
}

[disabled] {
    pointer-events: none;
}
