body {
  max-width:1200px;
  margin-top: 20px;
  margin-left:10%;
  margin-right:10%;
  font-size:14pt;
}

.main-content{
  width: 96%;
}

.answer-form-part2{
  width: 90%;
  border: solid 1px;
  background-color: #eee;
  line-height: 1.4em;
  font-family: monospace;
  font-size: 0.9em;
  padding: 2% 2% 2% 4%;
}

.part3-question-form{
  width: 100%;
  border: solid 1px;
  background-color: #eee;
  line-height: 1.2em;
  font-family: monospace;
  font-size: 0.8em;
  padding: 2% 2% 2% 2%;
  margin-top: 3px;
}


.part3-answer-form{
  width: 100%;
  border: solid 1px;
  background-color: #eee;
  line-height: 1.2em;
  font-family: serif;;
  font-size: 0.75em;
  padding: 2% 2% 2% 2%;
  margin-top: 3px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.editable-wrap {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  width: 100%;  //
}
.editable-wrap .editable-controls, .editable-wrap .editable-error {
  margin-bottom: 0;
  width: 100%;
}
.editable-wrap .editable-controls>select {
    margin-bottom: 0;
}
.editable-wrap .editable-controls>input, .editable-wrap .editable-controls>textarea {
  margin-bottom: 0;
  width: -moz-calc(100% - 76px);
  width: -webkit-calc(100% - 76px);
  width: calc(100% - 76px);
}

.margin-div {
    margin: 20px 10px 0px 10px;
}

.right{
  float:right;
}
.left{
  float:left;
}
.task-testcases{
    float:left;
    width:100%;
}
.console-out{
  width: 100%;
  font-size: 0.8em;
  height: 150px;
  font-family: monospace;
}

.Table
{
    display: table;
    width:90%;
    font-family:monospace;
    font-size:16px;
    margin:20px 20px 20px 20px;
}
.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.Row
{
    display: table-row;
}
.Cell
{
    display: table-cell;
    border: solid 1px #777;
    border-width: thin;
    padding: 3px 3px 3px 3px;
}

.leftmost-cell
{
    background-color:#eee;
    width:200px;
    text-align: center;
}

.btn.btn-xs{
  font-size: 19px
}

.rzslider{
  width:80%;
}

.taskA-answer {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
}

.ace_editor  {
  height : 300px;
}

#task(B){
  margin-top: -60px;
}

#col1 {
    display: inline-block;
    width:58%;
    float: left;
}

#col2 {
    display: inline-block;
    width:40%;
    float: right;
}

[disabled] {
    pointer-events: none;
}
