<div id="knowledgeEva" >
    Please complete the following quiz. For each question, select the result of running the given JavaScript code block or answer the question accordingly. You will not be penalized for incorrect answers. Please do not use any tools (such as Google Search or the JavaScript Console) while completing the quiz.
<br>
<br>
    This is not a test of programming skill, but to let us know of your background. Your performance on this quiz will not affect the later questions or tasks.

    <div ng-repeat="(key,task) in quiz" ng-init = "quizIndex = $index">
        <h3>Task {{key+1}}</h3>
          <div>{{task.question}}</div>
          <br />
        <pre ng-show="task.code">{{task.code}}</pre>
        <div ng-repeat="option in task.options" >
          <label>
             <input  type="radio" name="task_{{key}}" ng-model="quizAnswer[quizIndex]" value="{{$index}}" checked="false" />
             <i>&nbsp;&nbsp;{{option}}</i>
          </label>
        </div>
        <br/>
        <br/>
    </div>

    <!-- <div style="display: inline-block;" uib-tooltip="Make sure you do all the questions before submit!"> -->
    <div style="display: inline-block;">
      <input type="button" class="btn btn-xs btn-primary" value="Submit" ng-click="submitQuiz()">
    </div>

</div>
