<!-- ********* Tasks ********** -->

<div ng-show='subjectiveTaskInstruction' ng-include="'subjectiveTaskInstruction.html'">
</div>

<div id="wrapper" ng-show="!subjectiveTaskInstruction">

    <!-- ********* Subjective Tasks ********** -->

    <div id="task(A)">

        <div ng-repeat="taskA in taskAs track by $index" ng-show="taskA.id == idCounter" ng-init = "task_index = $index">

            <h2>{{taskA.name}}</h2>
            <p>Please read the following question and think of how to solve the problem. </p>

            <pre style="white-space: pre-wrap;">{{taskA.description}}</pre>

            <div ng-show = "!showAnswers">

              <div style="display: inline-block;" ng-show = "!showAnswers">
                Would you need to perform an online search in order to solve this problem?
                <br/><br/>
                <rzslider rz-slider-model="searchSlider.value" rz-slider-options="searchSlider.options" ng-click="searchSliderChanged()"></rzslider>
                <br/><br/>
                <br/><br/>

              </div>

              <div style="display: inline-block;" ng-show = "!showAnswers">
                How long do you think it would take for you to solve the problem yourself with Internet access?
                <br/><br/>
                I think it will take {{howLongSlider.value | minsToMinSeconds}}.
                <br/><br/>
                <rzslider rz-slider-model="howLongSlider.value" rz-slider-options="howLongSlider.options" ng-click="howLongSliderChanged()"></rzslider>
              </div>


              <br/><br/>
              <br/><br/>

              <button class="btn btn-xs btn-primary" ng-click = "continueToAnswer()">Continue</button>
            </div>
            <div ng-show = "showAnswers">
              <br/><br/>

              <p>Please take a look at the following 3 versions of answers. Read each answer and indicate <strong>how long you are willing to wait for the corresponding answer. </strong></p>
              <br/><br/>
              <div ng-repeat="answer in taskA.answers" ng-init = "level_index = $index">
                <h3 ng-show="$index==0">Level 1 Answer</h3>
                <h3 ng-show="$index==1">Level 2 Answer</h3>
                <h3 ng-show="$index==2">Level 3 Answer</h3>
                   <br/><br/>
                   <ul class = "answer-form-part2" >
                     <li ng-repeat="item in getAccAnswer( task_index, level_index)" ng-init = "level_index = $index">
                       <span ng-show="$index<=1">
                         {{item}}
                       </span>
                       <span ng-show="$index==2">
                         code
                       </span>
                       <br>
                       <pre ng-show="$index==2">{{item}}</pre>
                     </li>
                   </ul>


                   <div>
                     <br/>
                     <p>I am willing to wait {{answer.value | minsToMinSeconds}} for this particular answer.</p>
                       <rzslider rz-slider-model="answer.value" rz-slider-options="sliderOptions" ng-click="waitSliderChanged()"></rzslider>
                   </div>

                   <div>
                     <br/>
                     <p>If given the answer above, I can solve this problem in {{answer.expectedTime | minsToMinSeconds}}.</p>
                       <rzslider rz-slider-model="answer.expectedTime" rz-slider-options="timeSliderOptions" ng-click="waitSliderChanged()"></rzslider>
                   </div>
                  <br/><br/>
              </div>
            <div>

        </div>


          <button ng-click="submit()" class="btn btn-xs btn-success" ng-disabled="disableSubmit">Submit</button>
        </div>
      </div>

    </div>
