<!--  Task Instruction-->
<div ng-show="showinstruction" ng-include="'taskInstruction.html'">
</div>

<div ng-show="thankyou">
  Thank you for your participation!
</div>

<div id="task(B)" ng-show="!showinstruction && !thankyou">
    <!-- left column -->
    <h2>{{task.name}} (out of 7)</h2>
    <div>
        Please read the following task. You are allowed to ask for help by pressing the "Ask for Help!" button on the right side.<br/><br/>
    </div>
    <div class = "part3-question-form">{{task.description}}
    </div>
    <div>
      <br/>
      <div id="col1">
        <section id="editors">
            <div class="ace_editor" id='task1' ui-ace="{onLoad:aceLoaded}" ng-model="task.startercode">
            </div>

            <div>
                <h3>Console Output: </h3>
                <textarea class = "console-out">{{consoleOutput}}</textarea>
            </div>
            <div class = "right">
              <button ng-click="run(task.startercode)" class="btn btn-xs btn-primary" type="button" uib-tooltip="We run the following test cases by default."> Run </button>
            </div>
          </section>
      </div>

      <!-- right column -->

      <div id="col2" ng-show = 'condition>0'>
        <span ng-show = "!levelButton && level>=0">Level {{(level + 1)}} Answer</span>
        <span ng-show = "levelButton">Writing an answer</span>

        <img style="width:45px" src="typingindicator.gif" ng-show='loading'>
        <button ng-show='level==-1 && !slowProgrammingDisabled' class="btn btn-xs btn-primary" style="float: right" ng-click="slowprogramming()" uib-tooltip="Click this button to see hints or answers. But you need to wait a few minutes." ng-disabled='levelButton'>
          Ask for Help!</button>
        <button ng-show='level>=0 && !slowProgrammingDisabled' class="btn btn-xs btn-primary" style="float: right" ng-click="slowprogramming()" uib-tooltip="Click this button to see hints or answers. But you need to wait a few minutes." ng-disabled='levelButton'>
          Ask for More Help!</button>
        <br/>
        <div class="progress" ng-show = "levelButton">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
          aria-valuemin="0" aria-valuemax="100" style="width:100%">
            0% Complete (success)
          </div>
        </div>
        <br/>
        <pre class = 'part3-answer-form' ng-show="level>=0" style="border: 1px solid #000000;word-wrap: break-word;">{{task.level1}}</pre>
        <pre class = 'part3-answer-form' ng-show="level>=1" style="border: 1px solid #000000;word-wrap: break-word;">{{task.level2}}</pre>
        <pre class = 'part3-answer-form' ng-show="level>=2">{{task.code}}</pre>
      </div>
    </div>
    <div class = "task-testcases">
      <h3> Test Cases</h3>

      <div class="Table" ng-repeat = "case in task.testCase">
        <div class="Row">
            <div class="Cell leftmost-cell">
                <span>Test Case {{$index + 1}}</span>
            </div>
            <div class="Cell">
                <span>{{case.code}}</span>
            </div>
        </div>
        <div class="Row">
            <div class="Cell leftmost-cell">
              <span>Correct Answer is ... </span>
            </div>
            <div class="Cell">
                <span>{{stringify(case.answer)}} (type:{{typeofAnswer($index)}})</span>
            </div>
        </div>
        <div class="Row">
            <div class="Cell leftmost-cell">
                <span>Your code returns</span>
            </div>
            <div class="Cell">
                <span>{{stringify(case.output)}} (type:{{typeofOutput($index)}})</span>
            </div>
        </div>
        <div class="Row">
            <div class="Cell leftmost-cell">
                <span>Result</span>
            </div>
            <div class="Cell" ng-show="case.match">
                <span style="color:green;"><strong>PASSED</strong></span>
            </div>
            <div class="Cell" ng-show="!case.match">
                <span style="color:red;"><strong>FAILED</strong><span>
            </div>
        </div>
      </div>

    </div>
    <div uib-tooltip="You can proceed to the next task when test cases above are passed."  style="float:right;">
      <button ng-click="nextTask()" class="btn btn-xs btn-primary" type="button" ng-disabled="disableNext"> Next Task </button>
    </div>
    <br/>
    <br/>
    <br/>

    <br/></br/>
    <!--   add tooltip-->
    <!-- <div style="display: inline-block;" uib-tooltip="You can only proceed after getting the correct output!"> -->

    <!-- <button ng-click="run()" class="btn btn-xs btn-primary pull-right" type="button"> run </button> -->
</div>
