<!--  Task Instruction-->
<div ng-show="showinstruction" ng-include="'taskInstruction.html'">
</div>

<div id="task(B)" ng-show="!showinstruction">
    <div ng-repeat="task in tasks" ng-show="task.id == idCounter" ng-init = "taskIndex = $index">
      <!-- left column -->
      <h2>{{task.name}} (out of 7)</h2>
      <div>
          Please read the following task. You are allowed to ask for help by pressing the "Ask for Help!" button on the right side.<br/><br/>
      </div>
      <div class = "part3-question-form">{{task.description}}
      </div>
      <div>
        <br/>
        <div id="col1">
          <section id="editors">
              <div class="ace_editor" id='task1' ui-ace="{onLoad:aceLoaded}" ng-model="task.content">
              </div>
              <div>
                <br>
                <button ng-click="run(task.content, taskIndex)" class="btn btn-xs btn-primary" type="button" uib-tooltip="We run the following test cases by default."> Run </button>
              </div>
              <div>
                  <h3>Console Output: </h3>
                  <textarea class = "console-out">{{consoleOutput}}</textarea>
              </div>
            </section>
        </div>

        <!-- right column -->

        <div id="col2">
          <span ng-show = "level>=0">Level {{(level + 1)}} answer</span>
          <img style="width:45px; height:45px" src="load.gif" ng-show='loading'>
          <button ng-hide='slowProgrammingDisabled' class="btn btn-xs btn-primary" style="float: right" ng-click="slowprogramming()" uib-tooltip="Click this button to see hints or answers. But you need to wait a few minutes." ng-disabled='levelButton'>Ask for Help!</button>
          <br/><br/>
          <div class = 'part3-question-form' ng-show="level==0" style="border: 1px solid #000000;word-wrap: break-word;">{{task.basic}}</div>
          <div class = 'part3-question-form' ng-show="level==1" style="border: 1px solid #000000;word-wrap: break-word;">{{task.psedocode}}</div>
          <pre class = 'part3-question-form' ng-show="level==2">{{task.correct}}</pre>
        </div>
      </div>

      <div class = "task-testcases">
        <h3> Test Cases</h3>
        <div class="Table" ng-repeat = "case in task.testCase">
          <div class="Row">
              <div class="Cell leftmost-cell">
                  <p>Test Case</p>
              </div>
              <div class="Cell">
                  <p>{{case.code}}</p>
              </div>
          </div>
          <div class="Row">
              <div class="Cell leftmost-cell">
                  <p>Answer</p>
              </div>
              <div class="Cell">
                  <p>{{case.answer}}</p>
              </div>
          </div>
          <div class="Row">
              <div class="Cell leftmost-cell">
                  <p>Output</p>
              </div>
              <div class="Cell">
                  <p>{{case.output}}</p>
              </div>
          </div>
          <div class="Row">
              <div class="Cell leftmost-cell">
                  <p>Match</p>
              </div>
              <div class="Cell">
                  <p>{{case.match}}</p>
              </div>
          </div>
        </div>
      <!--
        <div ng-repeat = "case in task.testCase">
          <div>Test Case : {{case.code}}</div>
          <div>Correct Output : {{case.answer}}</div>
          <div>Current Answer : {{case.output}}</div>
          <div>Result : {{case.match}}</div>
        </div>-->
      </div>
    </div>

    <br/></br/>
    <!--   add tooltip-->
    <!-- <div style="display: inline-block;" uib-tooltip="You can only proceed after getting the correct output!"> -->
    <div style="position: fixed; right: 100px; bottom: 30px;">
      <button ng-click="nextTask()" class="btn btn-xs btn-primary" type="button" ng-disabled="disableNext"> Next </button>
    </div>

    <!-- <button ng-click="run()" class="btn btn-xs btn-primary pull-right" type="button"> run </button> -->
</div>
